node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
.expo
**/.expo
.git
*.log
**/*.log
coverage
**/coverage
.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example
uploads
**/uploads
*.md
